<div class="panel mb-3 p-3">
    <div class="panel-body">
    
        <h4>{{post.title}}</h4>
        <small class="text-muted">By <strong>{{post.user.username}}</strong> |  <strong>{{format_time post.createdAt}}</strong>  | {{post.comments.length}} comments</small>
        
        <p class="m-top-sm m-bottom-sm">
            {{post.content}}
        </p>
        <a href="/posts/{{post.id}}"><i class="fa fa-angle-double-right"></i> Continue reading</a>
        
    </div>
</div> 