<div class="container">

    <div class="panel mb-3 p-3">

        <div class="panel-body">
        
            <h3>{{post.title}}</h3>
            <small class="text-muted">By <strong>{{post.user.username}}</strong> |  <strong>{{format_time post.createdAt}}</strong> 
            
            <p class="m-top-sm m-bottom-sm">
                {{post.content}}
            </p>

        </div>

        <div class="panel-body">
        
            <h5>Comments</h5>

            {{#if loggedIn}}
                {{> comment postId=post.id}}
            {{/if}}

            {{#each post.comments as |content|}}
                
                <small class="text-muted">By <strong>{{content.user.username}}</strong> |  <strong>{{format_time content.createdAt}}</strong> 
            
                <p class="m-top-sm m-bottom-sm">
                    {{content.comment}}
                </p>

            {{/each}}
            

        </div>

    </div> 
</div>